<div class="navigation-bar-container">
  <%=image_tag('white.jpg', alt: 'white', height:100, width: 70) %>
</div>

<div class="defaul-font"><h2>Sign up</h2></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="Username defaul-font">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %>
  </div><br />

  <div class="field defaul-font">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div><br />

  <div class="field">
    <div class="defaul-font"><%= f.label :password %></div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br />

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br />

  <div class="Credit Card defaul-font">
    <%= f.label :card %>
    <%= f.number_field :card, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "small-button"%>
  </div>

<% end %>

<%= render "devise/shared/links" %>
