
<div class="container-fluid">
 <!-- <h1>History Page</h1>     --> 
  <p> </p>
  <p>You have made the following purchases recently...</p>       
</div>

<%# ***************Items Grid form *****************
    From 7 Creating Books(Products) YouTube video
    - Due to it being the products index,
    - This should be a loop to display all products
    - in rows of 3
    ************************************************ %>

<% for cart in @carts %>
  <div class="card-info-container">
  <div class="shadowed-card">
      <%=image_tag('white.jpg', alt: 'white', height: 40, width: 100) %>
      Bought at <td><%= h cart.created_at %></td>

     <% for line_item in cart.line_items %>
     <div class="row">
     <%=image_tag('white.jpg', alt: 'white', height: 20, width: 30) %>
     <div class="card-container">
     <div class="shadowed-card">
     	<%= link_to image_tag(line_item.product.image_url, alt: line_item.product.title, height: 200, width: 300), line_item %>
	    <td> <%=h line_item.product.title %></td>
        <td class="qty"><%= line_item.quantity %></td>
        <td class="price"><%= line_item.product.price %></td>
        <div class="product-info" >
            <%= button_to 'Buy it Again', line_items_path(line_item: line_item), {:class => "add-to-cart-button" } %> 
        </div>
	</div>
	</div>
   
      
   <% end %> 
<% end %>
