
<style type="text/css">
.savings {
  font: 500 350% 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #ff0066 !important;
  background-color: white !important;
  margin-right: 25px;
  margin-top: 15px;
}
.savingDescription {
   font-weight: 400;
   color: #585858;
   font-size: 15pt;
   text-align:left;
 }

 .promoCode{
 		text-align:left;
 		font: 500 155% 'Open Sans Condensed', sans-serif;
  	font-weight: bold;
  	color: #ff0066 !important;
 }

 .useCode{
 		text-align:right;
 		margin-top: 8px;
 		font: 400 100% 'Open Sans Condensed', sans-serif;
 }

.savingImage {
	margin-left: 16px;
}
</style>

<%if user_signed_in? %>
  <%if !current_user.guest?%>
<div class="container-fluid">       
  <br>

		<div class="row" style="margin-left: 90px;">
			<!-- first saving -->
        <div class="card-container">
        <div class="shadowed-card">
        	<div class="row">
          	<div class = "savingImage" style = "margin-top: 10px;"><%=image_tag("savings/carrots.jpg", height: 140, width: 210)%></div>
          	<div class = "column">
          		<div class="title savings"><strong><strong>20% OFF</strong></strong></div>
          		<div class="savingDescription"><h6>20% off carrots</h6></div>
          	</div>
        	</div>

          <div class="column profuct-into-font product-info" >
          	<div class="row" style="margin-left: 60px;">
            	<div class="useCode"><h5>Use Code: &nbsp;</h5></div>
            	<div class="price promoCode"><strong>326ZJOfa</strong></div>
          	</div>
          </div>
          
        </div>
        </div>


        <!-- second saving -->
        <div class="card-container">
        <div class="shadowed-card">
        	<div class="row">
          	<div class = "savingImage" style = "margin-top: 10px;"><%=image_tag("savings/king-salmon-fillet.jpg", height: 140, width: 210)%></div>
          	<div class = "column">
          		<div class="title savings"><strong><strong>30% OFF</strong></strong></div>
          		<div class="savingDescription"><h6>30% off Salmon Fillet</h6></div>
          	</div>
        	</div>

          <div class="column profuct-into-font product-info" >
          	<div class="row" style="margin-left: 60px;">
            	<div class="useCode"><h5>Use Code: &nbsp;</h5></div>
            	<div class="price promoCode"><strong>E63wa8XO</strong></div>
          	</div>
          </div>
          
        </div>
        </div>

        <!-- third saving -->
        <div class="card-container">
        <div class="shadowed-card">
        	<div class="row">
          	<div class = "savingImage" style = "margin-top: 10px;"><%=image_tag("savings/wonderbread.jpg", height: 140, width: 210)%></div>
          	<div class = "column">
          		<div class="title savings"><strong><strong>30% OFF</strong></strong></div>
          		<div class="savingDescription"><h6>30% off Wonder Bread</h6></div>
          	</div>
        	</div>

          <div class="column profuct-into-font product-info" >
          	<div class="row" style="margin-left: 60px;">
            	<div class="useCode"><h5>Use Code: &nbsp;</h5></div>
            	<div class="price promoCode"><strong>D2DO3A2c</strong></div>
          	</div>
          </div>
          
        </div>
        </div>
      


    </div>

<!--
	 <div class="row">
	  <div class="col-sm-6 text-center"><h3>Savings Promo Code: 326ZJOfa</h3><%=image_tag("savings/Coupon1.jpg")%></div>
	  <div class="col-sm-6"><h3>Savings Promo Code: s63wa8XO</h3>
	   <div class="text-center1"><%=image_tag("savings/Coupon2.jpg")%></div>
	  </div>
	</div>
	<br>
	<br>
	<div class="row">
	  <div class="col-sm-6 text-center"><h3>Savings Promo Code: cEll9LYt</h3><%=image_tag("savings/Coupon3.jpg")%></div>
	  <div class="col-sm-6"><h3>Savings Promo Code: D2DO3A2c</h3>
	  	<div class="text-center2"><%=image_tag("savings/Coupon4.jpg")%></div>
	  </div>
	</div> 
-->

</div>
<% elsif current_user.guest? %>
You have to be a registered member of Healthway to start saving.
<%else%>
You messed up somewhere.
<% end %>
<%else%>
Log in and start saving.
<% end %>
