<style>
table, th, td {
   border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
</style>
<p id="notice"><%= notice %></p>

<h1>Carts</h1>

<table>
  <thead>
    <tr>
      <th colspan="4">Cart Options</th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td>Cart ID: <%= cart.id%></td>
        <td><%= link_to 'Show', cart, :class => 'btn' %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart), :class => 'btn' %></td>
        <td><%= link_to 'Destroy', cart, :class => 'btn', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path, :class =>'btn' %>
