
<p id="notice"><%= notice %></p>
<style>


table {
    font-family: 500 100% 'Helvetica Neue', Helvetica, Arial;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 0px solid #5ada55;
    text-align: left;
    padding: 15px;
}

.Proceed-to-Checkout-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #fff !important;
  font: 500 130% 'Helvetica Neue', Helvetica, Arial;
  background-color: #2dcf4e;
  padding: 6px 8px 6px 8px;
  margin-top:8px;
  text-decoration: none;
  border: none !important;
  outline: none !important;

}

.Proceed-to-Checkout-button:hover {
  background: #24bd47;
  text-decoration: none;
}

.remove-item-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #fff !important;
  font: 500 100% 'Helvetica Neue', Helvetica, Arial;
  background-color: #f94f4f;
  padding: 5px 6px 5px 6px;
  text-decoration: none;
  border: none !important;
  outline: none !important;
}

.remove-item-button :hover {
  background: #ce4242;
  text-decoration: none;
}

.searchbar{
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

</style>

<div style="margin-left: 120px; margin-top: 30px; ">
<table id="line_items" style="margin-left: 80px;">
   <tr>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Picture</th>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Product</th>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Qty</th>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Unit Price</th>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Full Price</th>
   </tr>


   <%# This for loop displays all items in a session's(customer's) cart %>
   <% for item in @cart.line_items %>

     <tr class="<%= cycle :odd, :even %>">
        <td><%=image_tag(item.product.image_url, alt: 'white', height: 44, width: 66) %></td>  
        <td style="font: 500 120% 'Helvetica Neue', Helvetica, Arial;"><%= item.product.title if item.product%></td>
        <td style="font: 500 120% 'Helvetica Neue', Helvetica, Arial;"><%= item.quantity %> &times; </td>
        <td style="font: 500 120% 'Helvetica Neue', Helvetica, Arial;"><%= number_with_precision(item.product.price, :precision => 2) if item.product %></td>
        <td style="font: 500 120% 'Helvetica Neue', Helvetica, Arial;"><%= number_to_currency(item.total_price, :precision => 2) %></td>
        <%# Add a button to destroy a line item %>
        <td ><%= button_to "Remove Item", item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "remove-item-button" %></td>
     </tr>
    <% end %>
    
</table>
<div>


<div class="row" style="margin-top: 20px;">
<div>


  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <p><!-- Display the total price from the cart items-->
      <label class="Total" style="font: 500 150% 'Helvetica Neue', Helvetica, Arial;">
        <span>Items Total: <%= number_to_currency(@cart.subtotal) %>
        </span>
      </label>
    </p>
    <p><!-- Display the tax calculated from total price of the cart items-->
      <label class="tax" style="font: 500 150% 'Helvetica Neue', Helvetica, Arial;">
        <span>Tax 9.25%: <%= number_to_currency((@cart.subtotal) * 0.0925) %></span>
      </label>
    </p>
    <p><!-- Display tax plus total amount -->
      <label class="new total" style="font: 500 150% 'Helvetica Neue', Helvetica, Arial;">
        <span>Total with tax included: <%= number_to_currency(((@cart.subtotal) * 0.0925)+(@cart.subtotal)) %></span>
      </label>
    </p>
    
  </article>
  <!--set amount  equal to the cartsubtotal and proceed with stripe checkout-->
  <%= form_tag charges_path(amount: (((@cart.subtotal) * 0.0925)+(@cart.subtotal))) do %>
    <p style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">
      <!--User enters couponcode, code gets passed to ccontroller -->
      <%= label_tag(:couponCode, 'Coupon:') %>
      <%= text_field_tag(:couponCode)%>
    </p>
    <!-- Chekout box that user needs to fill out-->
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Items in your cart"
          data-amount=""
          data-billingAddress="true"
          data-shippingAddress="true"
          data-locale="auto">
    </script>
  <% end %>

</div>






