<p id="notice"><%= notice %></p>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 2px solid #5ada55;
    text-align: left;
    padding: 15px;
}
</style>
<table id="line_items">
   <tr>
     <th>Product</th>
     <th>Qty</th>
     <th class="price">Unit Price</th>
     <th class="price">Full Price</th>
   </tr>


   <%# This for loop displays all items in a session's(customer's) cart %>
   <% for item in @cart.line_items %>

     <tr class="<%= cycle :odd, :even %>">
        <td><%= item.product.title if item.product%></td>
        <td class="qty"><%= item.quantity %> &times; </td>
        <td class="price"><%= number_with_precision(item.product.price, :precision => 2) if item.product %></td>
        <td class="price"><%= number_to_currency(item.total_price, :precision => 2) %></td>
        <%# Add a button to destroy a line item %>
        <td><%= button_to "Remove Item", item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
    <% end %>
    <tr>

   <td class="total price" colspan="4">
     Total: <%= @cart.subtotal %><%#= @cart.total_price %>
   </td>
   </tr>
</table>

