<p id="notice"><%= notice %></p>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #5ada55;
    text-align: left;
    padding: 15px;
}

</style>
<table id="line_items" style="width:50%">
   <tr>
     <th>Product</th>
     <th>Qty</th>
     <th class="price">Unit Price</th>
     <th class="price">Full Price</th>
   </tr>

   <% for item in @cart.line_items %>
     <tr class="<%= cycle :odd, :even %>">
        <td><%=h item.product.title %></td>
        <td class="qty"><%= item.quantity %></td>
        <td class="price"><%= item.product.price %></td>
        <!-- <td class="price"><%#= gbp(item.full_price) %></td> -->
     </tr>
    <% end %>
    <tr>

   <td class="total price" colspan="4">
     Total: <%#= @cart.total_price %> <!-- Will be fixing this ASAP -->
   </td>
   </tr>
</table>
<%#= link_to 'Edit', edit_cart_path(@cart) %> |
<%#= link_to 'Back', carts_path %>
