
<p id="notice"><%= notice %></p>
<style>


table {
    font-family: 500 100% 'Helvetica Neue', Helvetica, Arial;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 0px solid #5ada55;
    text-align: left;
    padding: 15px;
}

.Proceed-to-Checkout-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #fff !important;
  font: 500 130% 'Helvetica Neue', Helvetica, Arial;
  background-color: #2dcf4e;
  padding: 6px 8px 6px 8px;
  margin-top:8px;
  text-decoration: none;
  border: none !important;
  outline: none !important;

}

.Proceed-to-Checkout-button:hover {
  background: #24bd47;
  text-decoration: none;
}

.remove-item-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #fff !important;
  font: 500 100% 'Helvetica Neue', Helvetica, Arial;
  background-color: #f94f4f;
  padding: 5px 6px 5px 6px;
  text-decoration: none;
  border: none !important;
  outline: none !important;
}

.remove-item-button :hover {
  background: #ce4242;
  text-decoration: none;
}

.searchbar{
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

</style>

<div style="margin-left: 120px; margin-top: 30px; ">
<table id="line_items" style="margin-left: 80px;">
   <tr>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Picture</th>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Product</th>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Qty</th>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Unit Price</th>
     <th style="font: 500 180% 'Helvetica Neue', Helvetica, Arial;">Full Price</th>
   </tr>


   <%# This for loop displays all items in a session's(customer's) cart %>
   <% for item in @cart.line_items %>

     <tr class="<%= cycle :odd, :even %>">
        <td><%=image_tag(item.product.image_url, alt: 'white', height: 44, width: 66) %></td>  
        <td style="font: 500 120% 'Helvetica Neue', Helvetica, Arial;"><%= item.product.title if item.product%></td>
        <td style="font: 500 120% 'Helvetica Neue', Helvetica, Arial;"><%= item.quantity %> &times; </td>
        <td style="font: 500 120% 'Helvetica Neue', Helvetica, Arial;"><%= number_with_precision(item.product.price, :precision => 2) if item.product %></td>
        <td style="font: 500 120% 'Helvetica Neue', Helvetica, Arial;"><%= number_to_currency(item.total_price, :precision => 2) %></td>
        <%# Add a button to destroy a line item %>
        <td ><%= button_to "Remove Item", item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "remove-item-button" %></td>
     </tr>
    <% end %>
    
</table>
<div>


<div class="row" style="margin-top: 20px;">
<div>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <p style="font: 500 160% 'Helvetica Neue', Helvetica, Arial;  margin-left: 100px; margin-top: 30px;">
      <label class="Total">
        <span>Total: <%= number_to_currency(@cart.subtotal) %><%#= @cart.total_price %>
</span>
      </label>
    </p>

    <div class="row" style="font: 500 160% 'Helvetica Neue', Helvetica, Arial;  margin-left: 100px;">
      <%= label_tag(:couponCode, 'Coupon:') %> 
      &nbsp;
      <%= text_field_tag(:couponCode , params[:couponCode], style: "margin-bottom: 3px;") %>
    
    </div>
  </article>
</div>

<div style="text-align: right; margin-left: 365px; margin-top: 35px;">
  <p style="font: 500 120% 'Helvetica Neue', Helvetica, Arial; text-align: right;">

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-billingAddress="true"
          data-shippingAddress="true"
          data-locale="auto">
      </script>

      
    </p>
    Powered by <%=image_tag('stripe.jpg', alt: 'white', height: 25, width: 70) %>


</div>

</div>
<% end %>
</div>






