<div class="navigation-bar-container">
  <%=image_tag('white.jpg', alt: 'white', height:150, width: 70) %>
</div>


<div class="row">


<div>
  <%=image_tag('white.jpg', alt: 'white', height:10, width: 320) %>
</div>

<div>
<div class="defaul-font"><h2>Log in</h2></div>

<div><%=image_tag('white.jpg', alt: 'white', height:20, width: 10) %></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field defaul-font">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div><br />

  <div class="field defaul-font ">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br />

  <% if devise_mapping.rememberable? -%>
    <div class="row defaul-font">
      <div>
        <%=image_tag('white.jpg', alt: 'white', height:10, width: 15) %>
      </div>
      <%= f.check_box :remember_me %>
      <div>
        <%=image_tag('white.jpg', alt: 'white', height:10, width: 10) %>
      </div>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => "small-button" %>
  </div>
</div>
<% end %>


<div>
  <%=image_tag('white.jpg', alt: 'white', height:10, width: 80) %>
</div>


<div>
<div class="defaul-font"><h2>Guest Users</h2></div>
<div><%=image_tag('white.jpg', alt: 'white', height:20, width: 10) %></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field defaul-font">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div><br/>

  <div class="field">
    <%=f.hidden_field :password, :value => '123456'%>
  </div>

  <div class="actions">
    <%= f.submit "Continue as Guest", :class => "small-button" %>
  </div>

<% end %>

<div>
  <%=image_tag('white.jpg', alt: 'white', height:70, width: 15) %>
</div>

<div class="defaul-font"><%= render "devise/shared/links" %></div>
</div>

</div>
