<div class="navigation-bar-container">
</div>
<div class="healthway" style="margin-left: 70px;">
</div>

<div id="books.index">
      <div class="row">
      <div class="card-info-container">
      <%=image_tag('white.jpg', alt: 'white', height: 37, width: 42) %>
      </div>
     <% for product in @products %>
     <% if (product.recipes.present?) then %>
        <div class="card-container">
        <div class="shadowed-card">
        <% if (product.recipe_url.present?) then %>
          <%= link_to image_tag(product.recipe_url, alt: product.recipes, height: 200, width: 300), product %>
          <!-- Add round thing -->
        <% end %>
          <div class="column profuct-into-font product-info" >
       		<p><b><%= product.recipes %></b></p>
      		<font color="green">Ingredients:</font>
      		<p><%= product.recipe_ingredients %></p>
      		<font color="green">Instructions:</font>
      		<p><%= product.recipe_instructions %></p>
          </div>

          <!-- <%= link_to 'Select', product_path(product), class:'button' %>   
          (Save this) line_items_path(product_id: item) -->
          <div class="product-info" >
          <% for item in @products %>
            <% product.recipe_ingredients.split(', ').each do|c| %>
             <% if (item.title == c) then %>
             <%= button_to 'Get ' + c, line_items_path(product_id: item), {:class => "add-to-cart-button" } %> 
                <%# current_cart.line_items.build(product_id: 0, quantity: 1) %>
                <%#=  line_items_path(product_id: item) %>
                <%# current_cart.add_item(42) %>
             <% end %>
             <% end %>
         <% end %>
         </div>
        </div>
        </div>
       <% end %>
     <% end %>
</div>

