<p id="notice"><%= notice %></p>

</style>
<%# ***************Items Grid form *****************
    From 7 Creating Books(Products) YouTube video
    - Due to it being the products index,
    - This should be a loop to display all products
    - in rows of 3
    ************************************************ %>
<div id="products.index">
  <% @products.each_slice(3) do |product| %>
    <div class="row">
            <% product.each do |product| %>
        <div class="card-container">
        <div class="shadowed-card">
          
          <%= link_to image_tag(product.image_url, alt: product.title, height: 200, width: 300), product %>

          <div class="column profuct-into-font product-info" >
            <div class="title"><%= link_to product.title, product %></div>
            <div class="price"><%= number_to_currency product.price %></div>
          </div>

          <!-- <%= link_to 'Select', product_path(product), class:'button' %>   -->
          <div class="product-info" >
          <%= button_to 'Add to Cart', line_items_path(product_id: product), {:class => "add-to-cart-button" } %> 
          </div>

        </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<%= link_to 'New Product', new_product_path %>