<p id="notice"><%= notice %></p>
<%# This is where we can see an individual product and it's info.
    NEXT to add here are suggestions in a div below.
 %>

 <p>  
  <%= image_tag @product.image_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>

<p>
  <strong>Interesting Recipe:</strong>
  <%= @product.recipes %>
</p>

<p>
  <strong>Recipe url:</strong>
  <%= @product.recipe_url %>
   <% if @product.recipe_url.present? %>
  <%= image_tag @product.recipe_url %>
  <% end %>
</p>




<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
