<!DOCTYPE html>
<html>
  <head>
    <title>HealthWay</title>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navigation-bar-backgroud fixed-top">

      <div class="navigation-bar-container">
        <div class="row">
        <%=image_tag('white.jpg', alt: 'white', height: 10, width: 25) %>
        <%= link_to 'HealthWay', root_path, :class => "healthway" %>
      </div>
      <div class="row slogen">
        <%=image_tag('white.jpg', alt: 'white', height: 10, width: 27) %>
        <h5>Eat healthier. Live longer.</h5>
      </div>
      </div>


     <!-- <a class="navbar-brand" href="#">Safeway</a> -->
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

     <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <%#= link_to ' About', about_path %>
         </li>
         <li class="nav-item active">
           <%#= link_to 'Shop', groceries_path %>
         </li>
         <!--<li class="nav-item">
           <a class="nav-link disabled" href="#">Disabled</a>
         </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
           <div class="dropdown-menu" aria-labelledby="dropdown01">
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li> -->
       </ul>

       <form class="form-inline my-2 my-lg-0">
        <%= form_tag searches_path, method: :get do %>
            <%= label_tag(:q, "Search: ") %>
            <%= text_field_tag(:search, params[:search])%>
            <%= link_to "Search", products_path, class: "btn", method: :get%>
            <%= link_to "Advanced Search", new_search_path, class: "btn", action: 'new' %>
        <% end %>

        <!--<input class="form-control mr-sm-2 navigation-bar-item" type="text" placeholder="Search" aria-label="Search">-->
        <%=image_tag('white.jpg', alt: 'white', height: 40, width: 35) %>

         <% if user_signed_in? %>
          <div class = "small-defaul-font">Logged in: <strong><%= current_user.email %></strong></div>
          <%=image_tag('white.jpg', alt: 'white', height: 10, width: 10) %>
          <button class="button" type="submit"><%= link_to 'Edit profile', edit_user_registration_path, :class => "small-button" %></button>
          <%=image_tag('white.jpg', alt: 'white', height: 40, width: 15) %>
          <button class="button" type="submit"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "small-button"%></button>
         <% else %>
          <button class="button" type="submit"><%= link_to "Sign up", new_user_registration_path, :class => "small-button" %></button>
          <%=image_tag('white.jpg', alt: 'white', height: 40, width: 15) %>
          <button class="button" type="submit"><%= link_to "Login", new_user_session_path, :class => "small-button" %></button>
         <% end %>

         <!--
         <%=image_tag('white.jpg', alt: 'white', height: 40, width: 15) %>
         <button class="button" type="submit"><%#= link_to "Cart", cart_path, :class => "small-button"%></button>
         -->

         <!-- TOOK THE CART PATH OUT FOR DEVELOPMENT OF CART-->
         <%#= link_to "0", cart_path, :class => "shopping-cart"%>

         <%=image_tag('white.jpg', alt: 'white', height: 10, width: 5) %>

       </form>
     </div>
   </nav>

<div class="navigation-bar-container">
  <%=image_tag('white.jpg', alt: 'white', height: 60, width: 70) %>
</div>


<div class="navigation-bar-container">
  <ul>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <li class="one navigation-bar-item"><%= link_to "Aisles", root_path, class: "btn"%></li>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <li class="two navigation-bar-item"><%= link_to "History", history_index_path, class: "btn"%></li>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
   <li class="three navigation-bar-item"><%= link_to "Savings", savings_index_path, class: "btn"%></li>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
   <li class="three navigation-bar-item"><%= link_to "Recipies", recipe_index_path, class: "btn"%></li>
  </ul>
</div>

</body>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

   <!-- HEADER -->

  <%= yield %>
</html>
